<div class="container">
    <h2>Quên Mật Khẩu</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Nhập email" required>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Mật khẩu mới" required>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" required>
      <button type="submit" class="login-btn">Đặt Lại Mật Khẩu</button>
      <button type="button" class="exit-btn" (click)="onCancel()">Thoát</button>
    </form>
  </div>
  