* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2C3E50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;
  position: relative; /* Đặt vị trí để căn giữa nút đăng nhập và đăng ký */
}

header h1 {
  font-size: 24px;
  flex: 1;
  text-align: center; /* Căn giữa văn bản trong tiêu đề */
}

.header-buttons {
  position: absolute;
  right: 20px; /* Đặt nút đăng nhập và đăng ký ở góc phải */
  display: flex;
  gap: 15px;
}

.header-buttons a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #3498DB;
  border-radius: 4px;
}


nav {
  background-color: #34495E;
  padding: 15px 0;
  width: 200px; /* Đặt chiều rộng cho thanh điều hướng */
  height: 100vh; /* Chiều cao toàn màn hình */
  position: fixed; /* Đặt nav cố định bên trái */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  text-align: center;
}

nav ul li a:hover {
  background-color: #1ABC9C;
}

.content {
  margin-left: 220px; /* Đẩy nội dung chính sang phải để tránh bị che bởi nav */
  padding: 20px;
}
